<form action="/api/v1/mangas" method="post">
  <label>Title: </label>
  <input type="text" name="title">

  <label>Author: </label>
  <input type="text" name="author">

  <input type="submit">
</form>

<form action="/api/v1/chapters" method="post">
  <label>Title: </label>
  <input type="text" name="title">

  <label>Number: </label>
  <input type="text" name="number">

  <select name="manga">
    <% @mangas.each do |manga| %>
      <option value="<%= manga.id %>"><%= manga.title %></option>
    <% end %>
  </select>

  <textarea name="pages"></textarea>


  <input type="submit">
</form>